*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

header,
section,
main,
article,
aside,
nav,
footer {
  display: block;
}

img {
  max-width: 100%;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

// Note: This stays until all former material-icons have either been refactored 
// to material-symbols or there's been made a conscious decision not to.
// Redmine case: #60342
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols {
  font-family: 'Material Symbols';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  width: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* NOTE: Our "base" settings need to be defined here so Safari 
  and Chrome actually  l i s t e n  instead of going rogue. */
  font-variation-settings: 
    'FILL' 1, 
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  /* Any of these can be overwritten if necessary - see the 
  "developers guide" for Google's Material Symbols. */
}
