@import "_sass_vars";

:root {
  --transition-property: all;
  --transition-timing: 0.2s;
  --transition-timing-function: cubic-bezier(.86, 0, .07, 1);
  --transition-delay: 0s;
  --transition-default: var(--transition-property) var(--transition-timing) var(--transition-timing-function) var(--transition-delay);

  --size-ds-unit: 8px;
  --size-logo-height: calc(var(--size-ds-unit) * 3.75);
  --size-logo-width: calc(var(--size-ds-unit) * 3.75 * 7.142857143); // this number is the logo graphic's aspect ratio
  --size-base-font-size: calc(var(--size-ds-unit) * 2);

  //primary colors
  --color-body-bg: #fcfcfc;
  --color-disabled-widget-bg: #f0f0f0;
  --color-widget-bg: #fff;
  --color-main: #3a69b4;
  --color-main-dark: #1c417d;
  --color-primary: #21759c;
  --color-primary-light: #5ca4cd;
  --color-primary-lightest: #d4efff;
  --color-primary-dark: #00496e;
  --color-dropdown: #e5e5e5;
  
  // Status colors
  --color-checkmark: #4a9d86; // checkmarks
  --color-clear: #e24e4e; // "x"/clear (icon name is "clear" in Material Symbols/Icons)

  //text colors
  --color-text-main: #222;
  --color-text-secondary: #575757;
  --color-text-white: #fff;

  //hover color
  --color-hover: #f5f5f5;

  //sensitivity colors
  --color-ok: var(--color-main);
  --color-ok-dark: #32845e;

  --color-error: #e24e4e;
  --color-error-dark: #c0392b;

  --color-problem: #ffab00;

  --color-warning: #fed149;
  --color-warning-dark: #f39c12;

  --color-notification: #00496e;

  --color-office365: #d83b01;

  // alert/popover/snackbar colors
  --color-alert-default: var(--color-widget-bg);
  --color-alert-default-accent: #D9D9D9;

  --color-alert-success: #D2EEE6;
  --color-alert-success-accent: #489681;

  --color-alert-warning: #FFF3D0;
  --color-alert-warning-accent: #fed149;

  --color-alert-error: #ffe3e3;
  --color-alert-error-accent: #ED9494;


  // match_status colors
  --color-status-good: #4a9d8660;
  --color-status-ok: #3a69b460;
  --color-status-bad: #e24e4e60;

  // icon arrow color
  --color-icon: #777777;

  --color-critical: #222;
  --color-critical-dark: #111;

  --color-logo-mark: var(--color-main);
  --color-logo-text: var(--color-text-main);
  --color-header-bg: #ffffff;

  //border-radius
  --border-radius-button: 0.25rem;
  --border-radius: 0.5rem;
  --border-radius-default: 0.625rem;
  --border-radius-small: 0.125rem;
  --border-radius-widget: 1.25rem;
  --border-radius-filter: 0.625rem;
  --border-radius-sensitivity: 20px 0px 0px 20px;

  //box-shadow
  --box-shadow: 10px 10px 30px #0000001A;
  --box-shadow-large: 0 0 2rem rgba(0, 0, 0, 0.2);
  --box-shadow-widget: 0px 0px 40px #22222229;
  --box-shadow-default: 0px 0px 5px #22222229;
  --box-shadow-filter: 0px 0px 5px #22222229;
  --box-shadow-login: 0px 0px 40px #00496E80;

  //z-index
  --z-index-navigation: 10;
  --z-index-modal: 30;

  // statistics-specific colors

  --color-gradient-dark-yellow: #eac445;
  --color-grey-dark: #777777;
  --color-grey-light: #f5f5f5;
  --color-white: #fff; // ????


  // Size vars
  --width-sidemenu: 15rem;
  --padding-content: 5rem;
}
