{% load i18n %}
{% load static %}
 
{% if object_list.exists %}
  <ul class="orgunit-list">
    {% for orgunit in object_list %}
      <li id="orgunit__{{ orgunit.pk }}">
        <div class="ds-checkbox">
          <input type="checkbox"
                 name="orgunit_id"
                 id="select-{{ orgunit.pk }}"
                 value="{{ orgunit.pk }}"
                 hx-post="{% url 'edit-orgunit-visibility-view' org_slug=organization.slug %}"
                 hx-vals='{"toggle_visibility": "{{ orgunit.pk }}"}'
                 hx-target="#orgunit__{{ orgunit.pk }}"
                 hx-trigger="change"
                 hx-swap="none"
                 {% if not orgunit.hidden %}checked{% endif %}>
          <label for="select-{{ orgunit.pk }}">
            <span title="">{{ orgunit.name }}</span>
          </label>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
