{% load i18n %}
{% load orgunit_tags %}

<select class="select_options"
        name="add-manager"
        hx-post=""
        hx-swap="outerHTML"
        hx-target="#orgunit__{{ orgunit.pk }}"
        hx-select="#orgunit__{{ orgunit.pk }}"
        hx-trigger="change"
        hx-vals='{"orgunit": "{{ orgunit.pk }}"}'>
  <option value="">{% trans "Choose new manager" %}</option>
  {% for account in accounts %}
    <option value="{{ account.uuid }}">
      {{ account.get_full_name }}
      {% if account.username %}({{ account.username }}){% endif %}
    </option>
  {% endfor %}
</select>
