{% extends 'organizations/base.html' %}
{% load i18n %}

{% block title %}
  {% trans "add organization"|capfirst %}
{% endblock %}

{% block content %}

  <div class="content-header">
    {% include "components/common/breadcrumb.html" with page="organization" %}

    <h1>{% trans 'add organization'|capfirst %}</h1>
  </div>

  <form class="form" role="form" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <section class="data-form">
      <fieldset class="form__fieldset">
        {% for field in form %}
          {% if field.field.widget.input_type == "text" %}
            <div id="{{ field.auto_id }}_container"
                 class="form__group{% if field.errors %} has-error{% endif %}">
              <label {% if field.name == "name" %}class="required-form"{% endif %}
                     for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="{% if password %}password{% else %}text{% endif %}"
                     class="form-control"
                     name="{{ field.name }}"
                     id="id_{{ field.name }}"
                     {% if field.value and not password %}value="{{ field.value }}"{% endif %}
                     {% if not password or field.value %}placeholder="{{ placeholder }}"{% endif %}
                     {% if field.name == "name" %}autofocus{% endif %}>
              {% if field.help_text %}<span class="form__help-text">{{ field.help_text }}</span>{% endif %}

              {% if field.errors %}{{ field.errors }}{% endif %}
            </div>
          {% else %}
            <div id="{{ field.auto_id }}_container"
                 class="form__group{% if field.errors %} has-error{% endif %}">
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endif %}
        {% endfor %}
      </fieldset>
    </section>
    <div class="content-footer">
      <div class="form__group">
        <button type="submit"
                class="button button--cta-button"
                name="save"
                aria-label="{% trans 'create new organization'|capfirst %}"
                title="{% trans 'create new organization'|capfirst %}">
          {% trans "create new organization"|capfirst %}
        </button>
      </div>
    </div>
  </form>
{% endblock %}
