{% load static %}
{% load i18n %}

{% block scripts %}
  <script src="{% static 'js/user/user_menu.js' %}"></script>
{% endblock scripts %}

{% if request.user.is_authenticated %}
  <div class="user">
    <span class="user__avatar">
      <i id="account_circle" class="material-icons">account_circle</i>
    </span>

    <div class="user_menu">
      <button class="dropbtn" onclick="dropMenu()">
        <span class="user__name">{{ request.user }}</span>
        <span class="arrow">
          <i id="arrow_drop_down" class="material-icons">arrow_drop_down</i>
        </span>
      </button>
      <div class="user-content" id="userMenu">
        <a href="{% url "my-user" %}">
          <span class="user__avatar_big">
            <i id="account_circle" class="material-icons">account_circle</i>
          </span>
          <span class="user__name--bold">{{ request.user }}</span>
        </a>
        <a class="show-account" href="{% url "my-user" %}">{% trans "Show User" %}</a>
        <a class="password-change" href="{% url "password_change" %}">{% trans "Change password" %}</a>
        <a class="logout" href="{% url "logout" %}">{% trans "Logout" %}</a>
      </div>
    </div>
  </div>
{% endif %}
