{% load i18n %}

<!DOCTYPE html>
<html lang="">
  <head>
    <title>&#x1f95a;</title>
    <style>
* {
    text-align: center;
}
.screen-reader-only {
    display: none;
}

svg {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
    </style>
  </head>
  <body>
    {% include "components/common/logo-o.html" %}
    <p>
      {% blocktranslate trimmed %}
            We've put a lot of work into OSdatascanner since 2014, and we hope
            you like it!
      {% endblocktranslate %}
    </p>
  </body>
</html>
