{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% trans "Password reset" %}</title>
  </head>
  <body>

    <p>
      {% blocktrans %}
    You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
      {% endblocktrans %}
    </p>

    <p>{% trans "Please go to the following page and choose a new password:" %}</p>

    <p>
      <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
      </a>
    </p>

    <p>
      {% trans "Your username, in case you've forgotten:" %}
      <br>
      <strong>{{ user.get_username }}</strong>
    </p>

    <p>{% trans "Thank you for using our site!" %}</p>

    <p>
      {% blocktrans trimmed %}
      Regards, the OSdatascanner team.
      {% endblocktrans %}
    </p>

  </body>
</html>
