
{% load i18n %}
{% load l10n %}
{% load static %}
{% include "components/navigation/scanner_tabs.html" with page="analysis" %}

<div class="content-header">
  <h1 class="page-title">{% trans "Analysis" %}</h1>
 

  <form name="analysis_page"
        hx-get="{% url 'analysis' %}"
        hx-target=".content"
        hx-select=".content"
        hx-swap="outerHTML"
        hx-trigger="change">
    <div class="dropdown stats_dropdown content-body">
      <select name="scannerjob"
              id="scannerjobs"
              data-compareto="none"
              autocomplete="off">
        <option value="none" {% if not selected_scanner %}selected{% endif %}>{% trans "Choose scannerjob" %}</option>
        {% for scanner in scanners %}
          <option value="{{ scanner.pk }}"
                  {% if scanner.pk == selected_scanner.pk %}selected{% endif %}>{{ scanner.name }}</option>
        {% endfor %}
      </select>
    </div>
  </form>
 
  {% if selected_scanner %}
    {% if supported_scannertype %}
      {% include "components/analysis/analysis_status.html" with selected_scanner=selected_scanner analysis_job=analysis_job %}
      <div class="content-body">
        <div class="button-group">
          <button name="run-analysis"
                  hx-post="{% url "run-analysis-job" selected_scanner.pk %}"
                  hx-target="#analysis_response"
                  hx-select="#analysis_response"
                  hx-swap="outerHTML"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="button button--icon-text-button"
                  aria-label="{% trans "Run analysis scan" %}"
                  title="{% trans "Run analysis scan" %}">
            <i id="play_arrow" class="material-icons">play_arrow</i>
            <span>{% trans "Run analysis scan" %}</span>
          </button>
        </div>
      </div>
    {% else %}
      <p>{% trans "This scannertype is not supported by analysis scans! ... Yet!" %}</p>
    {% endif %}

    {% if chart_data %}

      <div class="charts-container-box">
        <h2 class="page-title__sub">{% trans "Number of files" %}</h2>
        <p class="chart_description">{% trans "Overview of the number of each identified file type" %}</p>
 
        <div class="pie-charts-container">
          <div class="chart-container">
            <div class="pie-chart-content">
              <div class="chart-legend" id="pie1_legend"></div>
              <div class="chart-canvas">
                <canvas id="pie1"> </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="charts-container-box">
        <h2 class="page-title__sub">{% trans "Storage" %}</h2>
        <p class="chart_description">{% trans "Overview of storage for different filetypes" %}</p>
 
        <div class="pie-charts-container">
          <div class="chart-container">
            <div class="pie-chart-content">
              <div class="chart-legend" id="pie2_legend"></div>
              <div class="chart-canvas">
                <canvas id="pie2"> </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="charts-container-box">
        <h2 class="page-title__sub">{% trans "File size distribution" %}</h2>
        <p class="chart_description">{% trans "Overview of number of files " %}</p>
 
        <div class="bar-charts-container">
          {% for i in bar_list %}
            <div class="chart-container">
              <div class="bar-chart-content">
                <div class="chart-canvas">
                  <canvas id="bar{{ forloop.counter }}"> </canvas>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    {% endif %}
 
  {% else %}
    <p class="no-results">{% trans "Choose a scannerjob to start a new scan or view analysis" %}</p>
  {% endif %}
</div>

{{ chart_data|json_script:"chart_data" }}
