{# Use this extender for any cards containing a chart where zoom is possible.  #}

{% extends "components/containers/cards/card--statistics.html" %}

{% load i18n %}

{% block card_header_ui %}
  {% blocktranslate trimmed asvar translated_tooltip %}
    Hold and drag your mouse to zoom in on part of the graph. Hold shift while using the 
    mouse wheel to manually zoom. Use the reset button to return the graph to normal.
  {% endblocktranslate %}
 
  {% with icon_name="query_stats" tooltip=translated_tooltip %}
    {% include "components/decoration/info-icon.html" %}
  {% endwith %}

  <button type="button"
          class="button button--text-button"
          title="{% trans "Click here to reset the zoom level on the graph." %}"
          onclick="resetZoomDevelopment()">
    <span>{% trans "reset"|capfirst %}</span>
  </button>
{% endblock %}
