{% extends 'os2datascanner/base.html' %}
{% load staticfiles %}
{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}

{% block styling %}
<link rel="stylesheet" href="{% static "dist/bundle.css" %}">
{% endblock %}


{% block body %}
  <div class="container">
    <fieldset class="form__fieldset">
      <p>Ønsker du virkelig at slette {{ object }}?</p>
    </fieldset>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <button class="button button--cta button--small btn btn-default" type="submit" value="Ja">Ja</button>
      <a href="/rules/#close" rel="modal:close" class="close button button--cta button--small btn btn-default">Nej</a>
    </form>
  </div>
{% endblock %}
