{% extends "components/common/base.html" %}

{% load i18n static %}

{% block extra_head_html %}
  <script type="text/javascript" src="/jsi18n/"></script>
  <!-- BEGIN Admin scripts and CSS to render filter_horizontal -->
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
  <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>

  {# Ideally we'd just have our own Select2-powered widget that #}
  {# included these as media declarations. Some day... #}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/css/select2.min.css"
        rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/js/select2.min.js"></script>

  <script type="text/javascript" src="{% static "js/forms/select2.js" %}"></script>

  {{ form.media }}

  {# Recurrence widget: #}
  <script src="{% static "js/recurrence_widget/recurrence.js" %}"></script>
  <script src="{% static "js/recurrence_widget/recurrence-widget.js" %}"></script>
{% endblock extra_head_html %}

{% block body %}
  {% include "components/common/header.html" %}
  <div class="wrapper" id="container">
    {% include "components/common/main.html" with active_tab="home" %}

    <div class="content">
      <div class="content-header">
        {% include "components/common/breadcrumb.html" with page="scannerjob" %}
        <h1 class="page-title">

          {% if view.edit %}
            {% trans "edit scannerjob"|capfirst %}
          {% else %}
            {% trans "create new scannerjob"|capfirst %}
          {% endif %}

          {% if supports_rule_preexec %}
            <span class="smartdelta"
                  title="{% trans "This scanner can take advantage of the built-in SmartDelta function for ultra-fast scans." %}"></span>
          {% endif %}
        </h1>
      </div>

      <form class="form form--new" method="post" action="{{ request.path }}">
        {% csrf_token %}

        {# The form itself: #}
        {{ form }}

        {# Button below the form: #}
        {% if view.edit %}
          {% translate "save changes"|capfirst as label %}
          {% blocktranslate asvar tooltip trimmed %}
            Click here to save your changes and return to the scannerjob overview.
          {% endblocktranslate %}
        {% else %}
          {% translate "create scannerjob"|capfirst as label %}
          {% blocktranslate asvar tooltip trimmed %}
            Click here to create this scannerjob and return to the scannerjob overview.
          {% endblocktranslate %}
        {% endif %}

        <div class="form__footer">
          {% with label=label tooltip=tooltip %}
            <button class="button button--cta-button"
                    aria-label="{{ tooltip }}"
                    title="{{ tooltip }}">{{ label }}</button>
          {% endwith %}
        </div>
      </form>
    </div>
  </div>
{% endblock body %}
