{% extends 'components/common/base.html' %}
{% load i18n %}

{% block body %}
  {% include "components/common/header.html" %}

  <div class="wrapper">
    {% include "components/common/main.html" with active_tab="grant-list" %}
    {% include "components/feedback/snackbarNew.html" %}

    <div class="content">
      <form class="form" id="grant-form" method="post">
        {% csrf_token %}
        <div class="data-form">
          <div class="form__row">
            {% for field in form %}
              <div class="form__row__item">
                <div class="form__group{% if field.errors %} has-error{% endif %}"></div>
                <div class="flex">
                  {{ field.label_tag }}
                  {% if field.help_text %}
                    <div class="help">
                      <div class="help-icon" title="{{ field.help_text|safe }}"></div>
                    </div>
                  {% endif %}
                </div>

                {% block form_extras %}
 
                {% endblock form_extras %}

                {% comment %} This is a little dirty special case handling. {% endcomment %}
                {% if not field.name == "expiry_date" %}{{ field }}{% endif %}

                {% if field.errors %}{{ field.errors }}{% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% block submit_btn %}
 
        {% endblock submit_btn %}
      </form>

      {% block help_section %}
 
      {% endblock help_section %}


    </div>
  </div>

{% endblock %}
