{# card_summary.html #}

{% extends "components/containers/cards/card--statistics.html" %}

{% load i18n l10n %}

{% block card_title %}
  {% trans "scan coverage"|capfirst %}
{% endblock %}

{% block card_subtitle %}
  {% trans "summary of scan coverage"|capfirst %}
{% endblock %}

{% block card_body %}
  <div class="card__body__wrapper--list">
    <ul>
      {% if status.skipped_by_last_modified %}
        <li title="{% trans "Objects detected for the first time by this scan." %}">
          <i class="material-symbols" id="task_alt">task_alt</i>
 
          <p>
            {% if status.new_objects == 0 %}
              {% blocktranslate trimmed with onp=status.scanner.as_subclass.object_name_plural %}
                No new {{ onp }} found  
              {% endblocktranslate %}
            {% elif status.new_objects == 1 %}
              {% blocktranslate trimmed with on=status.scanner.as_subclass.object_name %}
                1 new {{ on }} found and scanned
              {% endblocktranslate %}
            {% else %}
              {% blocktranslate trimmed with num=status.new_objects onp=status.scanner.as_subclass.object_name_plural %}
                {{ num }} new {{ onp }} found and scanned
              {% endblocktranslate %}
            {% endif %}
          </p>
        </li>

        <li title="{% trans "Skipped due to no changes detected since the previous scan." %}">
          <div class="custom-icon__wrapper">
            <i class="material-symbols" id="step_over">step_over</i>
          </div>

          <p>
            {% if status.skipped_by_last_modified == 1 %}
              {% blocktranslate trimmed with on=status.scanner.as_subclass.object_name %}
                1 known {{ on }} skipped
              {% endblocktranslate %}
            {% else %}
              {% blocktranslate trimmed with num=status.skipped_by_last_modified onp=status.scanner.as_subclass.object_name_plural %}
                {{ num }} known {{ onp }} skipped
              {% endblocktranslate %}
            {% endif %}
          </p>
        </li>
      {% elif not status.cancelled %}
        <li title="{% trans "All detected objects were scanned." %}">
          <i class="material-symbols" id="task_alt">task_alt</i>

          <p>
            {% blocktranslate trimmed with onp=status.scanner.as_subclass.object_name_plural %}
              All {{ onp }} scanned
            {% endblocktranslate %}
          </p>
        </li>
      {% endif %}
 
      {% if status.coveredaccount_set.exists %}
        <li title="{% trans "The number of accounts that were within the scope of this scan." %}">
          <i class="material-symbols" id="frame_person">frame_person</i>

          <p>
            {% if status.coveredaccount_set.count == 1 %}
              {% blocktranslate trimmed %}
                1 account included in this scan
              {% endblocktranslate %}
            {% else %}
              {% blocktranslate trimmed with num=status.coveredaccount_set.count %}
                {{ num }} accounts included in this scan
              {% endblocktranslate %}
            {% endif %}
          </p>
        </li>
      {% endif %}
 
      {% if status.usererrorlog_set.exists %}
        <li title="{% trans "To see more details, go to the error messages tab." %}">
          <i class="material-symbols" id="chat_error">chat_error</i>

          <p>
            {% if status.usererrorlog_set.count == 1 %}
              {% blocktranslate trimmed %}
                1 error encountered during this scan
              {% endblocktranslate %}
            {% else %}
              {% blocktranslate trimmed with num=status.usererrorlog_set.count %}
                {{ num }} errors encountered during this scan
              {% endblocktranslate %}
            {% endif %}
          </p>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
