{% load i18n static %}
{% include "django/forms/widgets/select.html"  %}

<div>
  {% if universal_remediators %}
    <div id="scanner_universal_remediators_container"
         class="form__group dropdown-group">
      <label>{% trans "Universal remediators" %}</label>
      <div class="account_links">
        {% for remediator in universal_remediators %}
          <a href="{% url "account" remediator.organization.slug remediator.uuid %}"
             class="account_link">{{ remediator.get_full_name }}</a>
        {% endfor %}
      </div>
    </div>
    <span class="form__help-text">{% trans "Universal remediators are automatically assigned as remediators for all scanner jobs." %}</span>
  {% endif %}
</div>
