{% load i18n %}
{% if page == 'scannerjob' %}
  {% if user.is_authenticated %}
    <div class="scrollbar-content">
      <div class="tabs">
        {% for scanner in scanner_tabs %}
          {{ scanner.enabled_setting }}
          <a id="{{ scanner.get_type }}"
             class="tabs__control {% if scanner.get_type == active_tab %}active{% endif %}"
             href="{{ scanner.get_absolute_url }}">{{ scanner.verbose_name }}</a>
        {% endfor %}
        {% if perms.os2datascanner.view_hidden_scanner %}
          <a id="removed"
             class="tabs__control {% if active_tab == "removed" %}active{% endif %}"
             href="{% url "removed_scanners" %}">{% trans "Removed scanners" %}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}

{% if page == 'scan-status' %}
  <div class="tabs"
       name="status_tabs_poll"
       id="status_tabs_poll"
       hx-get="{% url "status" %}"
       hx-swap="outerHTML"
       hx-target="#new_errors"
       hx-trigger="{{ delay }}"
       hx-select="#new_errors">
    <a id="scan-status" class="tabs__control" href="{% url "status" %}">{% trans "Scans in progress" %}</a>
    <a id="completed"
       class="tabs__control"
       href="{% url "status-completed" %}">{% trans "Completed scans" %}</a>
    {% if perms.os2datascanner.view_usererrorlog %}
      <a id="error-log" class="tabs__control" href="{% url "error-log" %}">{% trans "Error Log" %}</a>
      <span id="new_errors">
        {% if new_error_logs > 0 %}<span class="bubble offset">{{ new_error_logs }}</span>{% endif %}
      </span>
    {% endif %}
    <!-- <a id="upcoming" class="tabs__control" href="#">Kommende scanninger</a> -->
  </div>
{% endif %}

<script>

    // Status tabs
    const scan_status = document.getElementById("scan-status")
    const completed = document.getElementById("completed")
    const error_log = document.getElementById("error-log")

    if (location.pathname === '/status/') {
        scan_status.classList.add('active')
    }
    if (location.pathname === '/status-completed/') {
        completed.classList.add("active")
    }
    if (location.pathname === '/error-log/') {
        error_log.classList.add("active")
    }
</script>
