{% extends 'components/common/base.html' %}
{% load static %}
{% load i18n %}

{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static '3rdparty/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '3rdparty/jquery.modal.js' %} "></script>
  <script src="{% static '3rdparty/htmx.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/scannerjob/cleanupStaleAccountsCheckmarks.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/js/select2.min.js"></script>
  <script>$("#cleanup_account_uuids").select2();</script>
{% endblock %}

{% block extra_head_html %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/css/select2.min.css"
        rel="stylesheet">
{% endblock extra_head_html %}

{% block body %}
  <div class="cleanup-container"
       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="cleanup-content">
      <h1>{% trans "Clean up stale accounts" %}</h1>
      <p>
        {% trans "OSdatascanner has registered, that some users, which were previously scanned with this scanner job, are no longer covered. These accounts will no longer be scanned by the scanner job." %}
      </p>
      <p>{% trans "Delete the report results for the following users:" %}</p>
      <form id="cleanup-accounts-form" name="cleanup-accounts-form">
        <select id="cleanup_account_uuids"
                class="select2"
                name="cleanup_account_uuids"
                multiple>
          {% for account in scanner.compute_stale_accounts %}
            <li>
              <option name="cleanup_account_uuid"
                      id="cleanup_account_{{ account.uuid }}"
                      value="{{ account.uuid }}"
                      selected>{{ account.get_full_name }} ({{ account.username }})</option>
            {% endfor %}
          </select>
          <div class="button-wrapper">
            <button type="button"
                    class="button button--cta-button"
                    name="cleanup-button"
                    aria-label="{% trans 'Clean' %}"
                    title="{% trans 'Clean' %}"
                    hx-post="/{{ view.type }}scanners/{{ scanner.pk }}/cleanup_stale_accounts/"
                    hx-trigger="click"
                    hx-include="#cleanup-accounts-form"
                    hx-swap="outerHTML"
                    hx-target=".cleanup-container"
                    hx-select=".cleanup-container">
              <span>{% trans "Clean" %}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  {% endblock %}
