{% extends 'components/common/base.html' %}
{% load static %}
{% load i18n %}

{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}

{% block scripts %}
  <script src="{% static '3rdparty/jquery.modal.js' %} "></script>
  <script src="{% static '3rdparty/htmx.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block body %}

  <div class="runner-container">
    {% if ok %}

      <div class="runner-content">
        <span class="icon">{% include "components/svg-icons/scan_run.svg" %}</span>

        <h1>{% trans "Run scanner" %}</h1>

        <h3>{% trans "Are you sure you want to start the scanner?" %}</h3>

        <p>
          <a href="{{ run_redirect }}"
             class="button button--cta-button run-scan-button">{% trans "Let's go!" %}</a>

          <a href="{{ run_redirect }}?full=true"
             class="button button--cta-button run-scan-button">{% trans "Full scan" %}</a>
 
          {#     Setting style=".." here is not best practice, but we want to still have the styling from #}
          {#      assigned classes when element is shown. Hidden will not work because display is set in css #}
          <a id="waiting-scanner-run-btn"
             class="button button--transparent-button"
             style="display: none">{% trans "Waiting..." %}</a>

        </p>
      </div>

    {% else %}
      <div class="runner-content">
        <span class="icon">{% include "components/svg-icons/scan_warning.svg" %}</span>

        <h1>{% trans "Run scanner" %}</h1>

        <h3>{{ error_message }}</h3>
      </div>

    {% endif %}
  </div>
{% endblock %}
