.pie-charts-row {
  display: flex;
  flex-direction: column;

  @media (min-width: 1920px) {
    flex-direction: row;
    gap: 2rem;

    > * {
      flex: 1 1 0;
      min-width: 0;
    }
  }
}

.charts-container-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 40px #22222229;
  border-radius: 1.25rem;
  padding: 2rem;
}

.bar-charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, auto);
  column-gap: 2rem;
  row-gap: 2rem;
}

.chart-container {
  max-width: 90%;
  height: 28rem;
  position: relative;
}

.bar-charts-container .chart-container {
  height: 24rem;
}

.chart-canvas {
  grid-area: chrt;
}

.pie-chart-content {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  grid-template-areas: "chrt lgnd";
}

.chart-legend {
  list-style: none;
  vertical-align: middle;
  bottom: 0;
  margin: 0 0 0 0rem;
  grid-area: lgnd;

  li > span {
    vertical-align: middle;
    cursor: pointer;
  }
}

.bullet {
  content: "\2022 ";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  padding-right: 0.2rem;
  font-size: 2rem;
  line-height: 1;
}
