:root {
  // Button colors
  --color-btn-neutral: #E5E5E5;
  --color-btn-neutral-hover: #CACACA;
  --color-btn-outline: #CBD5E2;

  // Button border life hack
  --btn-border-default: 0.094rem solid;

  // Focus styles
  --color-btn-focus: #BEDAEB;
  --btn-focus-style: 4px solid;
  
  // Used for the vertical <hr> dividing some button groups for ✨fancy✨ UI
  --color-border-neutral: rgba(0, 0, 0, 0.1);
}

.button { // ***** Default button type *****
  // Layout
  display: inline-block;

  // Box Model
  padding: 0.5rem 0.75rem;
  border: var(--btn-border-default) var(--color-btn-neutral);
  border-radius: var(--border-radius-button);

  // Visual
  color: var(--color-text-main);
  background-color: var(--color-btn-neutral);

  // Typography
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  word-break: normal;

  // Miscellaneous
  cursor: pointer;
  transition: var(--transition-default);
  transition-property: background-color, border-color;

  &:disabled {
    color: var(--color-icon);
    background-color: var(--color-hover);
    border: var(--btn-border-default) var(--color-btn-neutral);
    cursor: not-allowed;
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    border: var(--btn-border-default) var(--color-btn-neutral-hover);
    background-color: var(--color-btn-neutral-hover);
  }

  &:focus:not([disabled]) {
    outline: var(--btn-focus-style) var(--color-btn-focus) !important;
  }

  &--cta-button { // ***** "Primary" button type (cta: "call to action") *****
    // Box Model
    padding: 0.75rem 1rem !important;
    border: var(--btn-border-default) var(--color-primary);
    border-radius: var(--border-radius-default);
    
    // Visual
    color: var(--color-text-white);
    background-color: var(--color-primary);

    // Typography
    font-weight: 600;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      border: var(--btn-border-default) var(--color-primary-dark);
      background-color: var(--color-primary-dark);
    }

    &.button--icon-text-button { // Only applies when both classes are added
      max-height: fit-content !important;

      svg {
        margin-right: 0.25rem;
      }

      svg.button__plus-icon {
        height: 1rem !important;
      }
    }

    &.button--modal-ui { // Only applies when both classes are added
      border-radius: var(--border-radius-button) !important;
    }
  }

  &--outline-button  { // ***** "Secondary" button type *****
    // Box Model
    border: var(--btn-border-default) var(--color-btn-outline);    

    // Visual
    color: var(--color-primary) !important;
    background-color: transparent;

    // Typography
    font-weight: 500;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      border: var(--btn-border-default) var(--color-primary);
      background-color: transparent;
    }   
  }

  &--transparent-button { // ***** For buttons that are basically just text with no visible "button" styling - (not for carets!) *****
    // Box Model
    border: var(--btn-border-default) transparent;
    padding: 0.5rem 0.25rem;

    // Visual
    color: var(--color-primary-dark);
    background-color: transparent !important;

    &:disabled {
      color: var(--color-btn-neutral);
      background-color: transparent;
      cursor: not-allowed;
    }
  
    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: var(--color-primary-dark);
      border: var(--btn-border-default) transparent;
      background-color: transparent;
    }
  }

  &--caret-button { // ***** For - you've guessed it - caret buttons. We primarily use them to illustrate "sort by" and "expand/collapse" in tables *****
    padding: 0;
    margin-left: 0.25rem;
    border: var(--btn-border-default) transparent;
    background-color: transparent !important;

    .material-icons#expand_more {
      pointer-events: none;
      transition: var(--transition-default);
      color: #aaa;
    }
    
    &.up .material-icons#expand_more {
      transform: rotate(180deg);      
    }

    &:disabled {
      color: var(--color-btn-neutral);
      background-color: transparent;
      cursor: not-allowed;
    }
  
    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: var(--color-primary-dark);
      border: var(--btn-border-default) transparent;
      background-color: transparent;
    }
  }

  &--rounded-button { // We don't use this anywhere, but it's a part of the design guide, so it gets to stay for now.
    padding: 0.5rem 1rem;
    border-radius: 50px;
  }

  // ***** Style classes that handles layout depending on the button content *****
  
      // All three of the following classes "match" each other, so you can mix and match to 
      // your hearts content, and it'll still look neat. 

  &--icon-button { // ***** For square buttons that only contain an icon *****
    padding: 0.25rem;
    max-height: 2.125rem; // future proofing for when someone inevitably adds an icon that's too big
    max-width: 2.125rem; // ^ see above ^

    .material-icons {
      color: currentColor !important;
      font-size: 1.5rem;
      vertical-align: bottom;
      pointer-events: none;
    }

    svg { // Currently this applies to (../components/svg-icons/org.svg), (../components/svg-icons/people.svg), and (/static/svg/symbol-defs.svg#icon-plus)
      fill: currentColor;
    }

    svg:not(.icon-plus) { // Currently this applies to (../components/svg-icons/org.svg), and (../components/svg-icons/people.svg)
      margin: 0.125rem;
      width: 1.25rem !important;
      height: 1.25rem !important;
    }

    svg.icon-plus { // (/static/svg/symbol-defs.svg#icon-plus)
      margin: 0.25rem;
      width: 1rem !important;
      height: 1rem !important;
    }
  }

  &--text-button { // ***** For smaller buttons that only contain text ***** 
    padding: 0.5rem 0.75rem !important;
  }

  &--icon-text-button { // ***** For smaller buttons that contains an icon followed by text *****
    // Layout
    display: flex !important;
    align-items: center !important;

    // Box Model
    padding: 0.5rem 0.625rem 0.5rem 0.5rem;
    max-height: 2.125rem;

    svg {
      fill: currentColor;
    }

    .button__clear-icon { // The "x"
      width: 1.5rem;
      height: 1.5rem;
      margin-left: -0.25rem;
    }

    .material-icons#delete_forever { // Corrects "empty" space on buttons with this specific "slim" icon
      margin-left: -0.125rem;
    }

    > :last-child {
      margin-left: 0.25rem;
    }
  }

  &--deletion-button {
    background-color: var(--color-critical);
    color: var(--color-text-white);
    border: var(--btn-border-default) transparent;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: var(--color-text-main);
    }
  }

  // ***** Icon specific code *****
  .material-icons#play_arrow {
    transform: translateX(-0.063rem); // adjusts the perceived optical balance of the play icon
  }
}

// ***** Miscellaneous button adjacent styling *****

.button-group { // ***** Handles groups of buttons (surprice, surprice) and might need a refactoring (or at least a better name) at a later time *****
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  height: fit-content;

  &__divider {
    height: 2.125rem;
    height: 1.25rem;
    width: 2px;
    border: none;
    background-color: var(--color-border-neutral);
  }
}

.toggle { // ***** This is only used on the "probability" radio button on the Report module *****
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: none;
  color: currentColor;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  padding: .5em .5em .5em 3.5em;
  border-radius: var(--border-radius-button);

  &::before,
  &::after {
    position: absolute;
    left: .5em;
    top: .5em;
    box-shadow: 0 0 0 3px #aaa;
    border-radius: .5em;
    transition: var(--transition-default);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    box-shadow: 0 0 0 3px var(--color-primary);
  }

  &::before {
    color: #aaa;
    font-weight: bold;
    font-family: "Material Icons";
    width: 2.25em;
    height: 1em;
  }

  &::after {
    background-color: #fff;
    content: "";
    width: 1em;
    height: 1em;
  }

  &[aria-pressed=false] {
    &::before {
      content: "clear";
      color: var(--color-error);
      background-color: #f7b0b0;
      padding-left: 1em;
    }
  }

  &[aria-pressed=true] {
    &::before {
      content: "done";
      color: var(--color-ok-dark);
      background-color: #cbf7e3;
      padding-right: calc(1em + 3px);
    }

    &::after {
      transform: translate(1.25em);
    }
  }
}

.sorting-options {  // *****Used for the "filter" button in the report module 
  height: 2.69rem;
  width: 5rem;
  background-color: var(--color-white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-dropdown);
  border-radius: 0%;
  font-family: inherit;
  font-weight: normal;
  font-size: 0.90rem;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    color: var(--color-text-main);
    background-color: var(--color-primary-lightest);
  }
}
