.no-results {
  float: left;
  clear: both;
  margin-top: 0;
}

.match_filter_container {
  display: flex;
  flex-wrap: wrap;
}

.match_filtering_wrapper {
  float: left;
  margin-top: 1rem;
  max-width: 100%;
}

/* style checkbox */
.checkbox_wrapper {
  float: left;
  clear: left;
  max-width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.match_filtering_clear_button {
  cursor: pointer;
  float: right;
  margin-right: 2rem;
  border: none;
  background: none;
  color: var(--color-primary-dark);
  font-size: small;
}

.match_filtering_label {
  display: block;
  font-weight: bold;
  float: left;
}

.match_filtering {
  width: 12.5rem;
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: .9rem;

  &.report_filter_toggle_button {
    width: fit-content;
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: .9rem;
  }
}

.org_filtering {
  width: 20rem;
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: .9rem;
}

.org_filtering_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.orgunit_filtering_wrapper {
  display: flex;
  align-items: center;

  >div {
    margin: 1rem;
  }
}

.orgunit_input_container {
  width: 100%;
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
}

.orgunit_input_wrapper {
  margin-right: 2rem;

  &.dropdown {
    margin-right: 0;
    margin-left: auto;
  }
}

.checkbox_button {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 1px;
  left: 0;
}

.filter_checkbox {
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  label {
    display: block;
    min-width: 8rem;
  }

  &--report {
    label {
      width: 8;
    }
  }

  &--org_unit {
    label {
      width: 18;
    }
  }

  input+label {
    cursor: pointer;
    padding-left: 1.75em;
    margin-top: 0;
  }

  input[type="checkbox"]+label {

    &::before,
    &::after {
      :root {
        --transition-property: opacity;
      }

      content: "";
      display: block;
      height: 1em;
      width: 1em;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: content-box;
      background-color: transparent;
      cursor: pointer;
      transition: var(--transition-default);
    }

    &::before {
      border: 2px solid rgba(0, 0, 0, 0.4);
      border-radius: 3px;
    }

    &::after {
      background-size: 90% auto;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid transparent; // match alignment of ::before element
      background-image: url("../svg/done.svg");
      opacity: 0;
      transition: var(--transition-default);
    }
  }

  input[type=checkbox]:focus+label::before {
    border-color: #12496e;
  }

  &:hover {
    input[type="checkbox"]+label {
      &::before {
        border-color: #12496e;
      }
    }
  }

  input[type="checkbox"]:checked+label {
    &::before {
      background-color: #12496e;
      border-color: transparent;
    }

    &::after {
      opacity: 1;
    }
  }

  input[type="checkbox"]:disabled+label {
    opacity: 0.5;

    &::before {
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.errorlog_filtering_wrapper {
  display: flex;
  align-items: center;

  >div {
    margin: 1rem;
  }
}

.account_filtering_wrapper {
  display: flex;
  align-items: center;

  >div {
    margin: 1rem;
  }
}

.search_field_wrapper {

  width: 20rem;
  max-width: 100%;

  &.wide {
    width: 30rem;
  }

  &.right {
    float: right;
  }

  width: 20rem;

  input[type=search] {
    background-color: var(--color-widget-bg);
    border: none !important;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    outline: none;
    padding: .75rem 2.25rem .75rem .75rem;
    transition: var(--transition-default);
    width: 100%;
  }

  &+select#distribute-to {
    margin-top: -1px;
  }

}

span.text-highlight {
  background-color: var(--color-primary-light);
}