.view-options {
  /* Dependency: Admin > error log + scan completed */
  clear: both;
  display: flex;

  @media (min-width: $break-sm) {
    padding-top: 1rem;
  }

  @media (min-width: $break-md) {
    float: right;
    clear: none;
    background: transparent;
    padding-top: 0;
  }

  .button {
    float: left;
    clear: both;
    margin-top: 1rem;

    @media (min-width: $break-sm) {
      float: none;
      clear: none;
      margin-top: 0;
    }
  }
}

.reports tr.htmx-swapping {
  opacity: 0.1;
  font-size: 0px;
  background-color: var(--color-text-secondary);
  transition: all 300ms ease-in;

  td {
    height: 0;
    padding: 0;
    transition: all 300ms ease-in;
  }
}

.checkbox-button-wrapper {
  /* Dependency: Admin > remove error + resolve status */
  display: flex;
  align-items: center;
  float: left;

  button {
    border-color: var(--color-primary-dark);
    text-decoration: none;
    word-break: normal;
    cursor: pointer;
    background-color: var(--color-primary-dark);

    &,
    .text-secondary {
      color: var(--color-text-white);
    }

    &[disabled] {
      cursor: default;
      background-color: rgba(0, 0, 0, 0.07);
      color: red;

      &,
      .text-secondary {
        color: rgba(0, 0, 0, 0.35);
      }
    }

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: rgba(0, 0, 0, 0.2);
      text-decoration: none;
      transition: background-color 0.2s ease-in-out;

      &,
      .text-secondary {
        color: var(--color-text-main);
      }
    }
  }

  .selected-cb {
    white-space: nowrap;
    margin-left: 1.5rem;
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--color-text-secondary);
  }
}

.status-resolve {
  min-width: 7.8rem;
}

// TODO:
// Rename/repurpose this file so it's more obvious it's reusable
// Update error log + scan completed datatables

// Magic flex-box mixin
@mixin flex-center($justify: center, $gap: null) {
  display: flex;
  align-items: center;
  justify-content: $justify; // Can be redefined, if you don't want it centered

  @if $gap {
    // Only accounts for a gap value if one is given
    gap: $gap;
  }
}

.table-toolbar {
  @include flex-center(space-between);

  &__content-left {
    @include flex-center(flex-start, 2rem);

    button {
      border-color: var(--color-primary-dark);
      text-decoration: none;
      word-break: normal;
      cursor: pointer;
      background-color: var(--color-primary-dark);

      &,
      .text-secondary {
        color: var(--color-text-white);
      }

      &[disabled] {
        $inactive-color: #e5e5e5;
        cursor: default;
        background-color: $inactive-color;
        border-color: $inactive-color;

        &,
        .text-secondary {
          color: rgba(0, 0, 0, 0.35);
        }
      }

      &:focus:not([disabled]),
      &:hover:not([disabled]) {
        background-color: rgba(0, 0, 0, 0.2);
        text-decoration: none;
        transition: background-color 0.2s ease-in-out;

        &,
        .text-secondary {
          color: var(--color-text-main);
        }
      }
    }

    .selected-cb {
      white-space: nowrap;
      font-size: 0.9rem;
      font-weight: normal;
      color: var(--color-text-secondary);
    }
  }

  &__content-right {
    @include flex-center(flex-end, 1rem);
  }
}

#mass_handle_button.htmx-swapping {
  cursor: not-allowed;
  text-decoration: line-through;
  background-color: rgba(0, 0, 0, 0.2);
}
