.hit-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  transition: opacity 0.1s ease-in-out 0.1s;

  .last-opened {
    font-size: 0.813rem;
    color: var(--color-text-secondary);
    font-style: italic;
  }
}

.phantom {
  display: none;
}

.morecontent span {
  display: none;
}

.morelink {
  display: block;
  color: var(--color-text-main);
  font-weight: bold;
}
