.blue-box {
  display: flex;
  align-items: center;
  background-color: #dbe9ef;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: var(--border-radius-default);
  margin-right: 2rem;
  padding-left: .75rem;

  .material-icons {
    color: #21759c;
    font-size: 3rem;

  }
}

.flex-input {
  flex-wrap: row;
  flex-grow: 1;
  width: 100%;
}

.flex-dropdown {
  flex-wrap: row;
  flex-grow: 1;
  width: 25%;
}

.response {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.8rem;

  &__status-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .response-icon {
    font-size: inherit;
    height: 1.25rem;

    &--error {
      color: var(--color-error);
    }

    &--success {
      color: var(--color-ok-dark);
    }

    &--waiting {
      color: inherit;
      animation: spin, spinback ease-in-out;
      animation-delay: 0.25s, 0.25s;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    .material-icons {
      font-size: 1.25rem;
    }
  }
}


@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
  
@keyframes spinback {
  0% {
    -webkit-transform: rotate(181deg);
    transform: rotate(181deg);    
  }
  
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.userObjClass {

  .user-class-input+.user-class-input,
  button+.user-class-input {
    margin-top: 1rem;
  }
}

.orgunit-list {

  .orgunit_name .parent {
    color: var(--color-text-secondary);
    font-style: italic;
  }

  .orgunit_members {
    font-style: italic;
  }

  .orgunit_managers {

    ul {
      list-style: none;
      display: inline;

      li {
        display: inline;
        margin: 0;

        &.add_manager,
        &.add_dpo {
          margin-left: 0.3rem;
        }
      }
    }

  }

  .no_units {
    text-align: center;
    font-style: italic;
  }
}

.dynamic_li {
  cursor: pointer;

  &:not(:nth-last-of-type(2))::after {
    content: ", ";
  }

  &:hover {
    text-decoration: line-through;

  }
}

.select_options {
  height: 2rem;
  width: 15rem;
  font-size: inherit;
  font-weight: inherit;
}

.orgunits {
  display: flex;
  justify-content: center;
}