// **********************************
// ***** COLOUR THEME TEMPLATES *****
// **********************************

// Note: The four categories match the default message types in Django messages
$colors: (
  // Neutral
  "info": (
      "bg": var(--color-alert-default),
      "accent": var(--color-alert-default-accent),
    ),

  // Green
  "success": (
      "bg": var(--color-alert-success),
      "accent": var(--color-alert-success-accent),
    ),

  // Yellow
  "warning": (
      "bg": var(--color-alert-warning),
      "accent": var(--color-alert-warning-accent),
    ),

  // Red
  "error": (
      "bg": var(--color-alert-error),
      "accent": var(--color-alert-error-accent),
    )
);

// ***************************************
// ***** MANUAL-CLOSE STYLE TEMPLATE *****
// ***************************************

@mixin manual-style($type) {
  $color-theme: map-get($colors, $type);

  position: relative;
  background-color: map-get($color-theme, "bg");
  color: map-get($color-theme, "accent");

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.5rem;
    background-color: map-get($color-theme, "accent");
  }
}

// *************************************
// ***** AUTO-CLOSE STYLE TEMPLATE *****
// *************************************

// TIMER BAR ANIMATION PATH
@keyframes disappear {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

$animation-duration: 10s; // Has to match "remainingTime" in snackBars.js

// STYLE TEMPLATE
@mixin auto-style($type) {
  position: relative;

  $color-theme: map-get($colors, $type);
  background-color: map-get($color-theme, "bg");
  color: map-get($color-theme, "accent");

  --animation-duration: $animation-duration;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.25rem; // Height of the timer bar
    width: 100%;

    background-color: map-get($color-theme, "accent");
    opacity: 0.5;

    animation: disappear $animation-duration linear forwards;
  }

  &:hover::after {
    animation-play-state: paused;
  }
}

// *************************
// ***** ICON TEMPLATE *****
// *************************

$icon-size: 1.25rem;

@mixin icon-style {
  align-self: start;
  color: inherit;
  font-size: $icon-size;
  width: $icon-size;
  height: $icon-size;
}

// ************************
// ***** THE SNACKBAR *****
// ************************

// ENTER ANIMATION
@keyframes snackbar-enter {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.snackbar {
  &__container {
    @include layout-vertical(1rem);
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 9999;
  }

  position: relative;
  overflow: hidden;

  width: 30rem;
  padding: 1.25rem 1rem;
  border-radius: var(--border-radius-default);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  // Enter animation
  animation: snackbar-enter 0.3s ease-out;

  // Fadeout animation
  transition: opacity 1s ease-out; // Has to match "setTimeout" in snackBars.js
  opacity: 1;
  &--fading-out {
    opacity: 0;
  }

  // Apply style theme according to message type
  $types: info, success, warning, error;
  @each $type in $types {
    &--manual_close.#{$type} {
      @include manual-style($type);
    }

    &--auto_close.#{$type} {
      @include auto-style($type);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: auto 1fr auto; // icon, text, close button
    align-items: center;
    gap: 0.625rem;
    width: 100%;
  }

  &__icon {
    align-self: start;
    color: inherit;
    font-size: $icon-size;
    width: $icon-size;
    height: $icon-size;
    margin: auto;
  }

  &__text {
    margin: 0;
    color: var(--color-text-secondary);
    font-weight: 500;
    line-height: normal;
  }

  &__close-button {
    position: static; // Overwrites "position: absolute;" from close-modal
    align-self: start;

    width: $icon-size;
    height: $icon-size;
    padding: 0;
    border: none;

    color: var(--color-text-secondary);
    background: none;

    .material-symbols {
      font-weight: 800;
      font-size: $icon-size;
      vertical-align: middle;
    }

    &:disabled {
      color: var(--color-btn-neutral);
    }

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: var(--color-text-primary);
      border: none;
      background-color: transparent;
    }
  }
}
