{% extends 'organizations/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Google Workspace configuration" %}
{% endblock %}

{% block content %}
  {% include "components/common/breadcrumb.html" with page="googleworkspace" %}

  <div class="aside">
    <h1>{% trans "configure Google Workspace"|capfirst %}</h1>
  </div>

  <div class="aside">
    <h2>{% trans "organization"|capfirst %}: {{ organization }}</h2>
  </div>

  <form class="form" method="post">
    {% csrf_token %}

    <section class="data-form">
      <fieldset class="form__fieldset">
        <div class="form__group">
          {% for field in form %}
            {% include 'import_services/googleworkspace_import_field_snippet.html' %}
          {% endfor %}
        </div>
      </fieldset>
    </section>

    <div class="content-footer">
      <div class="form__group">
        <button type="submit"
                class="button button--cta-button"
                aria-label="{% trans 'save Google Workspace configuration'|capfirst %}"
                title="{% trans 'save Google Workspace configuration'|capfirst %}"
                name="save">{% trans "save Google Workspace configuration"|capfirst %}</button>
      </div>
    </div>
  </form>

{% endblock %}
