html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}
