{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
{% language 'da' %}
<html lang="da">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} | OS2datascanner</title>

  <link href="{% static "dist/bundle.css" %}" rel="stylesheet" />

  {% block extra_head_html %}{% endblock %}

</head>

<body class="page">
  <div class="os2ds">

    {% include "components/banner.html" %}

    <div class="wrapper">
      <section class="shortcuts">

        <article class="card">
          <header class="card__header">Scannerjob</header>
          <div class="card__body">
            {% if settings.ENABLE_WEBSCAN %}
            <a href="/webscanners/">
            {% elif settings.ENABLE_FILESCAN %}
            <a href="/filescanners/">
            {% elif settings.ENABLE_EXCHANGESCAN %}
            <a href="/exchangescanners/">
            {% endif %}
            Scannerjob
            </a>
          </div>
        </article>

        <article class="card">
          <header class="card__header">Regler</header>
          <div class="card__body">
            <a href="/rules/">Regler</a>
          </div>
        </article>

        <article class="card">
          <header class="card__header">Rapporter</header>
          <div class="card__body">
            <a href="/reports/">Rapporter</a>
          </div>
        </article>

        {% if user.is_superuser or user.is_staff %}
        <article class="card">
          <header class="card__header">Admin</header>
          <div class="card__body">
            <a href="/admin/" class="panel panel-default">Admin</a>
          </div>
        </article>
        {% endif %}

      </section>
    </div>
  </div>

  <script src="{% static "3rdparty/jquery-3.4.1.slim.min.js" %}"></script>
  <script src="{% static "3rdparty/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "dist/bundle.js" %}"></script>
</body>

</html>
{% endlanguage %}