{% extends "components/common/base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
  <script src="{% static "3rdparty/jquery.modal.js" %} "></script>
  <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block jquery_script %}
  <script>
  (($) => {
    $(document).ready(() => {
      $('#categories_select2').select2();
    });
  })(jQuery);
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/css/select2.min.css"
        rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/js/select2.min.js"></script>
{% endblock jquery_script %}

{% block body %}
  {% include "components/common/header.html" %}
  <main class="wrapper">
    {% include "components/common/main.html" with active_tab="rules" %}

    <div class="content">
      <section class="section">
        <div class="section__header">
          <div class="label-wrapper">
            <h1 class="page-title">{% trans "rules"|capfirst %}</h1>

            <a class="button button--cta-button button--icon-text-button"
               href="{% url "customrule_add" %}"
               aria-label="{% trans "Add rule" %}"
               title="{% trans "Click here to add a new rule." %}">
              <svg class="icon button__plus-icon">
                <use xlink:href="/static/svg/symbol-defs.svg#icon-plus"></use>
              </svg>
              <span>{% trans "add rule"|capfirst %}</span>
            </a>
          </div>
        </div>

        <div class="section__body">
          <div class="datatablex__card-container no-side-scroll"
               role="region"
               tabindex="0"
               aria-label="{% trans "user defined rules"|capfirst %}">
            <div class="datatablex__wrapper no-side-scroll">

              <table class="datatablex rules-table no-side-scroll">
                <colgroup>
                  <col class="column" />
                  <col class="column column--info" />
                  <col class="column column--sensitivity" />
                  <col class="column column--actions" />
                </colgroup>

                <thead>
                  <tr class="datatablex__row table-topbar">
                    <th class="column column--name">{% trans "name"|capfirst %}</th>
                    <th class="column column--info">{% trans "description"|capfirst %}</th>
                    <th class="column column--sensitivity">{% trans "sensitivity"|capfirst %}</th>
                    <th class="column column--actions">{% trans "action"|capfirst %}</th>
                  </tr>
                </thead>

                <tbody>
                  {% if customrule_list %}
                    {% for rule in customrule_list %}
                      <tr class="datatablex__row" tabindex="0">
                        <td class="column column--name">
                          <div class="name__container">
                            <a href="{% url "customrule_update" rule.pk %}"
                               aria-label="{% trans "edit"|capfirst %}"
                               title="{% trans "edit"|capfirst %} &quot;{{ rule.name }}&quot;">{{ rule.name }}</a>

                            <span class="owner">({{ rule.organization }})</span>
                          </div>
                        </td>


                        <td class="column column--info">
                          <div class="expandable-content">
                            <div id="info-{{ rule.pk }}" class="overflow-ellipsis">
                              <span>{{ rule.description }}</span>

                              <button class="show-more button--transparent-button"
                                      type="button"
                                      aria-expanded="false"
                                      aria-controls="info-{{ rule.pk }}"
                                      data-label-collapsed="{% trans "show more"|capfirst %}"
                                      data-label-expanded="{% trans "show less"|capfirst %}">
                                {% trans "show more"|capfirst %}
                              </button>
                            </div>
                          </div>
                        </td>

                        <td class="column column--sensitivity">
                          <div class="status">
                            <div class="status__wrapper" data-status="{{ rule.sensitivity }}">
                              <span class="status__icon">{% include "components/rules/sensitivity_icon.html" %}</span>
                              <span class="status__label">{{ rule.get_sensitivity_display }}</span>
                            </div>
                          </div>
                        </td>

                        <td class="column column--actions">
                          <div class="action-wrapper button-group">
                            <a href="{% url "customrule_update" rule.pk %}"
                               class="button button--icon-button"
                               aria-label="{% trans "edit"|capfirst %}"
                               title="{% trans "edit"|capfirst %} &quot;{{ rule.name }}&quot;">
                              <i id="edit" class="material-icons">edit</i>
                            </a>

                            <form action="{% url 'customrule_delete' rule.pk %}" method="post">
                              {% csrf_token %}

                              {{ form.as_p }}
                              <button type="submit"
                                      class="button button--icon-button"
                                      onclick="return confirm(`{% trans "Do you really want to delete this rule?" %}\n\n&quot;{{ rule.name }}&quot;\n\n{% trans "The action cannot be reversed" %}`)"
                                      aria-label="{% trans "delete"|capfirst %}"
                                      title="{% if rule.scanners.exists %}{% trans "This rule cannot be deleted, as it is used in the following scanners" %}: {{ rule.scanners.all|join:", " }}. {% trans "Update or delete the scanners first in order to delete the rule" %}.{% else %}{% trans "delete"|capfirst %}{% endif %}"
                                      {% if rule.scanners.exists %}disabled{% endif %}>
                                <i id="delete_forever" class="material-icons">delete_forever</i>
                              </button>
                            </form>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}

                  {% else %}
                    <tr class="datatablex__row" tabindex="0">
                      <td class="nothing_found_row" colspan="4">{% trans "There are currently no user-defined rules to display." %}</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      {% include "system_rules.html" %}

    </div>
  </main>
{% endblock %}

{% block modal %}
  <div class="modal modal--small"
       id="delete-rule-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="delete-rule-modal-title"
       aria-hidden="true"
       hidden>
    <h4 class="modal__heading" id="delete-rule-modal-title">{% trans "Delete rule" %}</h4>
    <iframe src="about:blank" frameborder="0"></iframe>
  </div>

  <div class="modal modal--small"
       id="delete-rule-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="delete-rule-modal-title"
       aria-hidden="true"
       hidden>
    <h4 class="modal__heading" id="delete-rule-modal-title">{% trans "Delete rule" %}</h4>

    <div class="modal__content">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <p>
          {% trans "Do you want to delete" %} <em>{{ object }}</em>?
          {% trans "This action cannot be undone." %}
        </p>
        <p>
          {% trans "Please note that this rule is currently included in" %}
          <em>{{ object.scanners.all.count }}</em>
          {% trans "scannerjob and" %} <em>{{ object.scans.all.count }}</em>
          {% trans "reports." %}
        </p>

        <div class="form__group">
          <button type="submit" class="button button--cta-button btn">{% trans "Yes" %}</button>
          <button type="button"
                  class="button button--cta-button btn"
                  data-modal="modal:close">{% trans "No" %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block rules_active %}class="active"{% endblock %}
