{% extends 'components/common/base.html' %}
{% load l10n i18n tz static %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="/jsi18n/"></script>
  <script src="{% static '3rdparty/chart-4.0.1.min.js' %}"></script>
  <script src="{% static '3rdparty/chartjs-plugin-datalabels.min.js' %}"></script>
  <script src="{% static 'js/charts/pieCharts.js' %}"></script>
  <script src="{% static 'js/scannerjob/statusTimelines.js' %}"></script>
{% endblock %}

{% block body %}
  {% include "components/common/header.html" %}
  <main class="wrapper" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "components/common/main.html" with active_tab="status" %}

    <div class="content">

      {% include "components/navigation/scanner_tabs.html" with page="scan-status" %}

      <div class="content-header">
        <h1 class="page-title">{% trans "Scans in progress" %}</h1>
      </div>

      {% include "components/scanstatus/scan_status--table.html" %}


    </div>
  </main>
{% endblock %}
