{% extends "components/scanner/scanner_list_base.html" %}
{% load i18n %}

{% block aside_extra %}
  {% if perms.os2datascanner.add_scanner %}
    <div class="btn">
      {% comment %} We should use a {% url %}-tag here, but cannot currently, since the
      scanner type is a variable. We should think of a better way to do this. {% endcomment %}
      <a href="{{ add_scanner_url }}"
         class="button button--cta-button button--icon-text-button"
         aria-label="{% trans "Add scannerjob" %}"
         title="{% trans "Add scannerjob" %}">
        <svg class="icon button__plus-icon">
          <use xlink:href="/static/svg/symbol-defs.svg#icon-plus"></use>
        </svg>
        <span>{% trans "Add scannerjob" %}</span>
      </a>
    </div>
  {% endif %}
{% endblock %}


{% block scanner_table %}
  {% include "components/scanner/active_scanners_table.html" %}
{% endblock %}
